<div class="announcement outage">
  RubyGems is <strong>currently responding to an incident</strong> involving the uploading of a malicious gem. As a result, RubyGems has
  turned off the ability to push new gems. In dealing with this issue, you can expect there to be <strong>sporadic downtime</strong> ranging
  from a few minutes to many hours. RubyGems is a volunteer run service and greatly appreciates your support. For a detailed
  explanation of what is happening, you can visit
  <a target="_blank" href="https://docs.google.com/document/d/10tuM51VKRcSHJtUZotraMlrMHWK1uXs8qQ6Hmguyf1g/edit#">this Google Doc</a>.
  If you would like to get involved or follow the ongoing incident response, join the <a href="http://freenode.net/">Freenode IRC</a> channel #rubygems.
</div>
<div class="main">
  <%= render :partial => 'pings' %>
</div>
<div class="sidebar">
  <div class="module">
    <h2>Instant updates <a href="http://twitter.com/rubygems_status">@rubygems_status</a></h2>
    <div class="module-content">
      <div id="tweets"></div>
    </div>
  </div>
</div>
<div class="clear"></div>